<div class="menu-card col-sm" id="menu-card" data="{{product._id}}">
  <div >
        <div class="item-picture my-2" style="float:left; margin-right: 20px ; ">
          <div class="picture" style="background-image: url(https://image.shutterstock.com/image-photo/two-fresh-submarine-sandwiches-ham-600w-497930494.jpg);"></div>
        </div>
        <div class=" item-info float:left;">
          <div class="item-name">
            {{product.name}}
          </div>
          <div>
            <div class="item-description break-long-words" style="margin:5px 0 0 0">
              {{product.desc}}
            </div>
            <div>
              Type :  {{product.category}}
            </div>
            <span class="item-price" style="font-weight: 500;">₱ {{product.price}}.00</span>
          </div>
        </div>
  </div>
          <button type="button" class="btn btn-primary btn-lg btn-block " id="remove-item" data="{{product._id}}"><i class="fas fa-trash"></i>&nbsp  Remove item</button>
</div>